* {
  margin: 0;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

.centered {
  text-align: center;
  background-color: grey;
}

.monospaced {
  text-decoration: underline;  
  font-family: monospace;
  background-color: grey;
}

.monospaced ul {
  list-style-type: none;
  margin-top: 10px;
}


